<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Display Pizza Order</title>
  </head>
  <body>
    <div class="displayPizzaOrderContainer">
      <h1>Your Pizza</h1>
      <table class="DisplayPizzaOrderTable">
        <thead>
          <tr>
            <td class="dispalyOrder">Size:</td>
            <td class="dispalyPizzaOrder">{{size}}</td>
          </tr>
          <tr>
            <td class="dispalyOrder">Toppings:</td>
            <td class="dispalyPizzaOrder">{{toppings}}</td>
          </tr>
          <tr>
            <td class="dispalyOrder">Gluten-Free Crust:</td>
            <td class="dispalyPizzaOrder">{{glutenFree}}</td>
          </tr>
          <tr>
            <td class="dispalyOrder">Price:</td>
            <td class="dispalyPizzaOrder">${{price}}</td>
          </tr>
        </thead>
      </table>
      <p class="para">{{displayMsg}}</p>
      <div class="buildPizzaAscii">
        <a class="buildAnotherPizza" href="BuildAnotherPizza">Build another
          pizza</a>
        <p class="asciipipe">&#124;</p>
        <a class="backToHome" href="/back-to-homepage">Back to Homepage</a>
      </div>
    </div>
  </body>
</html>