<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Display Pizza Order</title>
  </head>
  <body>
    <div class="displayPizzaOrderContainer">
      <h1>Your Pizza</h1>
      <div class="displayPizzaOrderDetails">
        <h3>Size:
          <span
            style="font-size: 1.4rem; font-family: Architects Daughter, cursive;font-weight:lighter"
          > {{size}}</span></h3>
        <h3>Topping:<span
            style="font-size: 1.4rem;font-family: Architects Daughter, cursive;font-weight:lighter"
          > {{toppings}}</span></h3>
        <h3>Gluten-Free Crust:<span
            style="font-size: 1.4rem;font-family: Architects Daughter, cursive;font-weight:lighter"
          >
            {{glutenFree}}</span></h3>
        <h3>Special Instructions:<span
            style="font-size: 1.4rem;font-family: Architects Daughter, cursive;font-weight:lighter"
          >
            {{displayTextarea}}</span>
        </h3>
        <h3>Price:<span style="font-size: 1.4rem; "> ${{price}}</span></h3>
      </div>
      <p class="para"> {{displayMsg}}</p>
      <div class="buildPizzaAscii">
        <a class="buildAnotherPizza" href="BuildAnotherPizza">Build another
          pizza</a>
        <p class="asciipipe">&#124;</p>
        <a class="backToHome" href="/back-to-homepage">Back to Homepage</a>
      </div>
    </div>
  </body>
</html>